

.h2 {
    font-size: large;
    font-weight: 500;
    height: 50%;
    display: flex;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10%;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.3s;
    border: white 1px solid;
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;

  }
  .h2:hover {
    background-color: #f7f8fa;
    color: rgb(7, 0, 0);
    border: black 1px solid;
    
  }
  @media (max-width: 768px) {
    .h2 {
      font-size: small;
    }
  }

  .hdos {
    font-size: medium;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding: 1%;
    cursor: pointer;
    background-color: rgb(255, 87, 51);
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
    border: black 2px solid;
    transition: 1s;


  }
  .hdos:hover {
    background-color: #f7f8fa;
    color: rgb(255, 87, 51);
    border: rgb(255, 87, 51) 1px solid;
    
  }
  @media (max-width: 768px) {
    .h2 {
      font-size: small;
    }
  }
  /* Estilo general para los inputs */
.inputs  {
  display: flex;
  justify-content: center;
  padding: 1%;
  background-color: gray;
  border-radius: 5px;
  margin: 'auto'; 
  background-color: "gray"; 
::placeholder {
    color: #830b0b; 
    font-style: italic; 
    font-size: 0.9rem;
}}

.sele{

    color: #830b0b; /* Cambia el color del placeholder */
    font-style: italic; /* Cambia el estilo de la fuente del placeholder */
    font-size: 0.9rem; 
    ::placeholder {
      color: #830b0b; 
      font-style: italic; 
      font-size: 0.9rem;
  }
}
 
/* Media query para dispositivos medianos (768px de ancho máximo) */
@media (max-width: 768px) {
  .inputs {
      flex-direction: column; /* Cambia a diseño de columna */
      align-items: center; /* Alinea los elementos en el centro */
  }
  
 
}
