/* Estilos generales para la clase container */
.container {
    font-size: x-small;
    justify-content: center;
    width: 98%;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 10%;
    /* background-color: rgb(246, 234, 9); */
    border-radius: 25%;
}

/* Estilos generales para la clase body */
.body {
    background-color: rgb(186, 184, 184);
    margin-bottom: 10%;
    width: 100%;
    margin: auto;
}

/* Estilos generales para la clase subcontainer */
.subcontainer {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Roboto", sans-serif;
    background-color: rgb(208, 207, 203);
    padding: 5%;
    border-radius: 3%;
    opacity: 0.9;
    box-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos generales para la clase component */
.component {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 99%;
    justify-content: center;
}

/* Estilos generales para la clase h3 */
.h3 {
    background-color: rgba(19, 11, 60, 0);
    color: black;
    border: 2px solid black;
    border-radius: 0.5rem;
    text-align: left;
    padding: 1%;
    font-size: x-small;
    align-items: space-between;
    box-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos generales para la clase h4 */
.h4 {
    background-color: rgba(225, 199, 199, 0.1);
    color: rgb(0, 0, 0);
    font-size: small;
    border: px solid black;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
    border-radius: 0.5rem;
    border: 2px solid white;
    box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.5);
}

/* Estilos generales para la clase endev */
.endev {
    display: flex;
    flex-direction: column;
    margin-left: 70%;
    justify-self:center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10%;
    font-size: x-small;
    background-color: rgb(255, 87, 51, 0.2);
    text-align: center;
}

/* Media Query para dispositivos pequeños */
@media (max-width: 600px) {
    /* Ajustar container para pantallas pequeñas */
    .container {
        width: 90%;
        margin-top: 25%;
        margin-bottom: 25%;
    }

    /* Ajustar subcontainer para pantallas pequeñas */
    .subcontainer {
        padding: 10%;
        border-radius: 5%;
        margin-bottom: 5%;
    }

    /* Ajustar tamaño de fuente y alineación de texto para elementos h3 y h4 */
    .h3, .h4 {
        font-size: small;
        text-align: center;
    }

    /* Ajustar tamaño de fuente para endev */
    .endev {
        font-size: small;
        margin-left: 0;
        margin-bottom: 15%;
    }

    /* Ajustar component para pantallas pequeñas */
    .component {
        width: 100%;
    }
}
