    .container { 
        margin-top: 12%;
        margin-bottom: 20%;
        font-size: x-small; 
        height: 60%;
        justify-content: center;
        align-items: center;
        background-color: gradient(rgb(32, 15, 65), rgb(134, 8, 117));
   
    }

    .subcontainer  { 
            margin-top: 50px;
          
            font-family: "Verdana"; 
           
        }

    .component { 
                margin-top: 1%;
                margin-bottom: 1%;
                width: 99%;
                justify-content: center;
    }

