    .container { 
        margin-top: 10%;
        font-size: x-small; 
        height: 60px;
        justify-content: center;
        align-items: center;
   
    }

    .subcontainer  { 
            margin-top: 50px;
            background-color: rgb(224, 218, 218);
            font-family: "Verdana"; 
             }

    .component { 
                margin-top: 1%;
                margin-bottom: 1%;
    }

