/* styles.module.css */

.navFoot {
  background-color: #fcfdfb; /* Equivalente a bg-[#fcfdfb] */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
    height: 10%;
    margin: auto;
    box-shadow: 2px 5px 10px 10px rgba(0, 0, 0, 0.5 );
  
}
.navFootImage {
  width: 12%;
  height: 100%
}

@media (max-width: 700px){
  .navFoot {
    font-size: 80%;
    }
  .navFootImage {
    width: 10%;
    height: 80%;
  }
}
@media (max-width: 450px){
  .navFoot {
    font-size: 50%;
     }
  .navFootImage{
    width: 20%;
    height: 60%;
    margin-top: 4%;
  }
}



.navFootList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 4px; 
  align-self: center;
  text-decoration: none;
  list-style: none;
  
  flex-direction: row;
   justify-content: space-between;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
}

.item {

padding: 2%;
margin: auto;
border: 2px;
border-color: black;
transition: 0.5s;
color: black
}
   

.link {
  margin-bottom: 8px; /* Ajustar según necesidades */
  cursor: pointer;
  text-decoration: none;
 color: #000;   
 list-style: none;
 align-self: center;
 text-decoration: none;
  list-style: none;
 
}
.item:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  opacity: 0.8;
  font-size: medium;
  color:white;
  width: 20%;
  text-align: center;
}

.link:hover {
  color: white;
 
}



