/* Estilos para el componente h2 */
.h2 {
    font-size: large;
    font-weight: 500;
    height: 50%;
    display: flex;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
  }
  
  /* Fondo negro para el componente h2 */
  .h2Background {
    background-color: black;
    color: white;
  }
  
  /* Estilos para la visibilidad del componente */
  .block {
    display: block; 
     width: 96%;
    justify-content: center;
    margin-left: 2%
  }
  
  /* Estilos para los input de búsqueda */
  .input {
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: 1px solid #000;
    color: #000;
    padding: 0.25rem;
    border-radius: 0.25rem;
  }
  
  .projectSearchInput {
    width: 66.6667%;
  }
  
  .searchInput {
 
    width: 16.6667%;
  }
  
  /* Estilos para la tabla */
  .table {
    width: 100%;
    color: #070000;
    background-color: #e0d2d2;
    border-collapse: collapse;
    border: 1px solid #fff;
  }
  .tableHeader1 {
    width: 16%;
    color: #fff;
    background-color: #03113a;
    border-collapse: collapse;
    border: 1px solid #fff;
  }
  .tableHeader2 {
    width: 70%;
    color: #fff;
    background-color: #050542;
    border-collapse: collapse;
    border: 1px solid #fff;
  }
  .tableHeader3 {
    width: 14%;
    color: #fff;
    background-color: #070000;
    border-collapse: collapse;
    border: 1px solid #fff;
  }
  
  .fullWidth {
    width: 100%;
  }
  
  .textWhite {
    color: #050000;
    font-size: medium;
  }
  
  .borderCollapse {
    border-collapse: collapse;
  }
  
  .border {
    border: 1px solid #fff;
  }
  
  /* Estilos para las celdas de la tabla */
  .tableCell {
    border: 1px solid #fff;
    padding: 0.2rem;
  }
  
  .linkCell {
    background-color: rgb(20, 19, 19);
    justify-content: center;
    text-align: center;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
  }
  
  .hoverUnderline:hover {
    text-decoration: underline;
  }
  
  .hoverBg:hover {
    background-color: #100;
    color:white
  }
  
  
  
  .hoverText:hover {
    color: white;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .borderSlate {
    border: 1px solid #708090;
  }
  
  .visitedOpacity:visited {
    opacity: 0.2;
  }
  
  /* Estilos para los botones de "Ver más" y "Ver menos" */
  .button {
    font-size: smaller;
    margin: 0.25rem;
    cursor: pointer;
  }
  
  .showMoreButton {
    background-color: #808080;
    color: #fff;
    padding: 0.25rem;
    border-radius: 0.25rem;
  }
  
  .showLessButton {
    background-color: #474747;
    color: #fff;
    padding: 0.25rem;
    border-radius: 0.25rem;
  }
  
  .showLessButton.disabled {
    opacity: 0.5;
  }
  
  /* Estilos específicos para botones */
  .relative {
    position: relative;
  }
  
  .flex {
    display: flex;
  }
  
  .justifyEnd {
    justify-content: flex-end;
  }
  
  .mr0 {
    margin-right: 0;
  }
  
  .bgGray {
    background-color: #808080;
  }
  
  .bgSlate {
    background-color: #708090;
  }
  
  .hoverBgGray:hover {
    background-color: #606060;
  }
  