.container {
    width: 100%;
    justify-content: center;
    background-color: hsl(259, 95%, 15%, 0.1);
    border: 1px solid #c4c4c4;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;    
    cursor: disabled;
}


.imagen {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 2%;
    object-fit: cover;
    height: 80%;
    box-shadow: 0 0 20px rgb(17, 16, 16);
    transition: all 0.3s ease;
}


.texto {
    width: 50%;
    font-size: smaller;
    background-color: rgba(155, 150, 155, 0.5);
    color: rgb(225, 174, 5);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    margin: 5%
}

.resenia {
    font-size: small;
    text-align: center;
    color: rgb(10, 0, 0);

    margin: 5%;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    cursor: disabled;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-left: 0;
    }
    .imagen {
        width: 100%;
    }
    .texto {
        margin-left: 0;
    }
    .resenia {
        width: 100%;
    }
    
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
        margin-left: 0;
    }
    .imagen {
        width: 100%;
    }
    .texto {
        margin-left: 0;
    }
    .resenia {
        width: 100%;
    }
    
}