.container {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    padding: 20px;

}


.imagen {

    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}


.texto {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #374151;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.resenia {
    font-size: 1rem;
    text-align: center;
    color: #4b5563;
    text-decoration: none;
    margin: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}